<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
<div style="width : 60%;"><h2 style="text-align:center;">Bre Store</h2>
	<p style="  position: relative; top: -20px; font-size:14px;text-align:center;">Gaya Tidak Harus Mahal</p>
	<hr>
	<p>Hallo nama kostumer,</p>
	<p>Terimkasih sudah bergabung dan menjadi costumer bre store</p>
	<p>Proses Registrasi sebentar lagi selesai! Silahkan Verifikasi Akun anda dengan memasukan kode aktifasi dibawah ini </p><br>
	<p><strong style="text-align:center;">Kode Verifikasi : $kode</strong></p><br>
	<p>Salam Hangat,</p>
	<p>Bre Store</p>
	<hr>
</div>
</body>
</html>