 
 <table width="800" border="0" cellpadding="4" cellspacing="0" style="border: 1px solid #000;">  
 <tr>  
   <td rowspan="6" width="120" style="border-right:1px solid #000;"> </td>  
   <td width="150" valign="top" > No </td>  
   <td valign="top" colspan="3"> : </td>  
 </tr>  
 <tr>  
   <td valign="top" > Telah Diterima Dari </td>  
   <td valign="top" colspan="3"> :  </td>  
 </tr>  
 <tr>  
   <td valign="top" > Uang Sejumlah </td>  
   <td valign="top" colspan="3"> : </td>  
 </tr>  
 <tr>  
   <td valign="top" > Untuk Pembayaran </td>  
   <td valign="top" colspan="3"> : </td>  
 </tr>  
 <tr>  
   <td valign="center" colspan="2"> <h3 style="font-size: 25;">Rp 300.000.000 </h3> </td> 
   <td width="300"></td>
   <td valign="bottom" align="center" height="120"> 06/06/2021 <br> <br> <br>(_________)</td>
     
 </tr>  
 </table>  

 
 </body>   
 </html>   
 